{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <div class="q-container-show p-4">
                    <div class="row">
                        <div class="col">
                            <div class="q-container-show q-display p-3">
                                <h2>Edit Score {{ leaderboard.dateCreated|date("Y-m-d") }}</h2>

                                <div class="form-group col-md-3">
                                    <form class="form-inline js-new-wod-form" data-url="../../api/leaderboards/{{ leaderboard.id }}">
                                        <table class="table table-stripe">
                                            <tr>
                                                <td><label for="date">Date</label></td>
                                                <td><input type="date" name="date" value="{{ leaderboard.dateCreated|date("Y-m-d") }}" class="form-control" required></td>
                                            </tr>
                                            <tr>
                                                <td><label for="name">Name</label></td>
                                                <td>
                                                    <select name="name_dropdown" id="name_dropdown">
                                                        <option value="">-</option>
                                                        {% for name in userNames %}
                                                            <option value="{{ name }}"{{ name==leaderboard.name ? 'selected' : '' }}>{{ name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="text" name="name" placeholder="Name" value="" class="form-control" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label for="time">Score</label></td>
                                                <td><input type="text" name="score" placeholder="Score" value="{{ leaderboard.score }}" class="form-control" required></td>
                                            </tr>
                                            <tr>
                                                <td> <label for="comments">Comments</label></td>
                                                <td><textarea name="comments"  cols="30" rows="5">{{ leaderboard.comments }}</textarea></td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: middle;"><label for="rx">Rx</label></td>
                                                <td style="vertical-align: middle;"><input type="checkbox" name="rx" class="form-control" {{ leaderboard.rx ? 'checked' : '' }}></td>
                                            </tr>
                                        </table>
{#                                        <input type="hidden" name="wod" value="{{ leaderboard.id }}" class="form-control">#}
                                        <div>
                                            <div class="btn btn-primary">Submit</div>
                                            <div><a href="{{ path('app_wod_show', {'id': leaderboard.wod}) }}"><div class="btn btn-primary">Cancel</div></a></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function() {
        var $table = $('.js-wod-score-table');

        function convertFormToJSON(form) {
            const array = $(form).serializeArray(); // Encodes the set of form elements as an array of names and values.
            const json = {};
            $.each(array, function () {
                json[this.name] = this.value || "";
            });
            return json;
        }

        $('.js-new-wod-form').unbind('click').find('.btn-primary').on('click', function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            var editWodUrl = $(this).closest('form').data('url');
            var $form = $(this).closest('form');

            var json = convertFormToJSON($form);

            json.rx = json.rx == 'on' ? 1 : 0;

            if (json.name_dropdown != '' && json.name == '') {
                json.name = json.name_dropdown
            }

            console.log(json,editWodUrl);

            var self = this;
            $.ajax({
                url: editWodUrl,
                method: 'PUT',
                dataType: 'json',
                data: JSON.stringify(json),
                contentType: 'application/json',
            }).then(function (data) {
                console.log({{ leaderboard.wod }});
                window.location.href = "../../wod/{{ leaderboard.wod }}";
            })
        });
    });
</script>
{% endblock %}
{% endblock %}
