{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" ng-app="myApp" ng-controller="RxWodCtrl" data-wod-id="{{ wod.id }}">
        <div class="row">
            <div class="col-12">
                <div class="q-container-show p-4">
                    <div class="row">
                        <div class="col-md-9">
                            <span>
                                <h2>
                                   Wod <span ng-bind="wod.createdAt | date:'MM/dd/yyyy'"></span>

                                <a href="edit/{{ wod.id }}" class="btn btn-md btn-success pull-right">
                                    <span class="fa fa-edit"></span> Edit
                                </a>
                                <a href="{{ next_wod }}" class="btn btn-md btn-info pull-right" {{ next_wod == null ? 'disabled' : '' }}>
                                    Next Wod <span class="fa fa-angle-right"></span>
                                </a>
                                <a href="{{ previous_wod }}" class="btn btn-md btn-info pull-right" {{ previous_wod == null ? 'disabled' : '' }}>
                                    Prev Wod <span class="fa fa-angle-left"></span>
                                </a>

                                </h2>
                            </span>
                            <div class="col-md-3">
                                <h3>WOD</h3>
                                <span ng-bind-html="wod.wod|trustAsHtml"></span>
                                <br>
{#                                ng-if="scores"#}
                                <div xng-if="!editScore" ng-click="editScore = !editScore">
                                    <div><b>My Score</b><br>{:scores[0].score:}<br>{:scores[0].comments|trustAsHtml:}</div>
                                </div>
                                <div xng-if="editScore">
{#                                    !scores[0].score || #}
                                    <br><br>
                                    <h3>Score</h3>
                                    <div class="form-group">
                                        <form class="form-inline">
                                            <input type="hidden" name="date" value="{{ "now"|date("Y-m-d") }}" class="form-control">
                                            <input type="hidden" name="name" placeholder="Name" value="Will" class="form-control">
                                            <table class="table table-stripe" >
                                                <tr>
                                                    <td><label for="time">Score</label></td>
                                                    <td><input type="text" name="score" placeholder="Score" ng-model="addForm.score" class="form-control" required></td>
                                                </tr>
                                                <tr>
                                                    <td> <label for="comments">Comments</label></td>
                                                    <td><textarea name="comments" ng-model="addForm.comments;" cols="25" rows="6"></textarea></td>
                                                </tr>
                                                {#                                                    <td  style="vertical-align: middle;"><label for="rx">Rx</label></td>#}
                                                {#                                                    <td style="vertical-align: middle;"><input type="checkbox" ng-model="score.rx" name="rx" class="form-control"></td>#}
                                            </table>

                                            <input type="hidden" name="wod" ng-model="score.wod" value="{{ wod.id }}" class="form-control">
                                            <div ng-show="!scores[0].id" class="btn btn-primary" ng-click="addScore()">Add</div>
                                            <div ng-show="scores[0].id" class="btn btn-primary" ng-click="editWodScore()">Edit</div>
{#                                            <div><div class="btn btn-primary" ng-click="scores[0].ID ? editScore() : addScore(score)">Edit</div>#}
                                        </form>
                                    </div>
                                </div>

                                <div ng-if="wodHasLift">
                                    <div><label for="weight">Lift Weight:</label>
                                        <span ng-show="!showScoreEdit" ng-click="showLiftScoreEdit()" ng-bind="lift_record[0].weight"></span>
                                        <input xng-show="showScoreEdit" type="text" ng-model="lift_record[0].weight" width="10">
                                    </div><br>
                                    <div><div xng-show="showScoreEdit" class="btn btn-primary" ng-click="addLiftScore()">Submit</div>
{#                                    <div><div xng-show="showScoreEdit" class="btn btn-primary" ng-click="editLiftScore()">Submit</div>#}
                                </div>
{#                                <br>#}
<!--                                <span ng-click="enterScore()" ng-bind-html="wod.wod[2]|trustAsHtml"></span>-->
                            </div>
                            <div >
                                <div ng-if="wodHasLift">
                                    <h3>Lift History</h3>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Created at</th>
                                            <th>Exercise</th>
                                            <th>Rep Scheme / Comments</th>
                                            <th>Weight</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="lr in lift_history">
                                            <td>{:lr.createdAt.split('T')[0]:}</td>
                                            <td>{:lr.exercise:}</td>
                                            <td>{:lr.repScheme.substring(0,25):} {:lr.comment.substring(0,30):}</td>
                                            <td>{:lr.weight:}</td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock %}
